<div class="home-page">
  <div class="main-banner">Головний великий банер / анімація</div>
  <div class="who-we-are">Секція "Хто ми?"</div>
  <div class="next-events">Секція "Найближчі заходи"</div>
  <div class="numbers-facts">Секція "Цифри, факти"</div>
  <div class="responses">Секція "Відгуки"</div>
</div>
<style>
  .home-page > * {
    margin-top: 64px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
  }
</style>