<style>
  .welcome {
    text-align: center;
      font-size: 18px;
  }
</style>
<div class="welcome">🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽</div>
<div class="welcome">🙏🏽 НАМАСКАР 🙏🏽</div>
<div class="welcome">🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽🙏🏽</div>
