<div class="menu">
  <select>
    <option selected>Про нас</option>
    <option>Хто ми? ⏬</option>
    <option>Команда ❇️</option>
    <option>Цифри, факти ⏬</option>
    <option>Відгуки ⏬</option>
  </select>
  <select>
    <option selected>Події</option>
    <option>Найближчі заходи ⏬</option>
    <option>Календар подій ⏬</option>
    <option>Архів ❇️</option>
  </select>
  <div>Контакти ❇️</div>
  <div>Підтримка ❇️</div>
</div>
<style>
  .menu {
      display: flex;
      justify-content: center;
      gap: 16px;
      border-bottom: 1px solid black;
      padding-bottom: 16px;
  }

  .menu > * {
      border: 1px solid grey;
      border-radius: 8px;
      padding: 4px;
  }
</style>