<div class="footer">
  <div>Політика конфіденційності</div>
  <div>Правова інформація</div>
  <div>Ще раз іконки соц-мереж</div>
</div>
<style>
  .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      border-top: 1px solid black;
  }

  .footer > * {
      text-align: center;
      font-size: 16px;
      padding: 8px;
  }
</style>