<!--TODO: extract inlined styles into separate css file -->
<div style="display: flex; justify-content: space-between;">
  <img src="https://meditationsteps-germany.de/wp-content/uploads/2022/12/cropped-cropped-Logo_PNG-90x85.png" alt="Головне лого" />
  <div>Social icons</div>
</div>
<div>
  <%= render partial: "layouts/header/menu" %>
</div>
